# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.OdeToFood2.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\MaryWelch_7eh\OneDrive - Artisan Technology Group\git\OdeToFood\OdeToFood2\.idea\.idea.OdeToFood2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
